.sobre {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em;
    margin: 0 15vw;
}

.sobre__inicio{
    color: var(--cor-vermelho);
    font-size: 16px;
    font-weight: 400;
}

.sobre h1 {

    font-size: 48px;
    font-weight: 600;
    color: var(--cor-preto);
}

.sobre__texto {
    color: var(--cor-cinza-claro);
    font-size: 16px;
    font-weight: 400;
}